.grid {
  display: grid;
  grid-template-columns: repeat(50, 20px);
}
.grid-cell {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &.active {
    background-color: #211717;
  }
}